.cardslider > div > p {
	font-size: xxx-large;
	font-weight: 700;
	width: 85%;
	margin: 65px auto;
	transition: transform 1s ease-in-out; /* Transition for sliding effect */
}

.cardslider.in-viewport > div > p {
	transform: translateX(0);
}

.cardContainer {
	display: flex;
	width: 100%;
	margin: auto;
	gap: 40px;
	padding: 55px 0px;
}

.cardContainer > div {
	min-width: 23%;
	height: 15em;
	padding: 14px;
	font-size: 14px;
	margin-right: 10px;
	border-radius: 14px;
	transition: transform 0.3s ease-in-out;
}
.cardContainer div:hover {
	cursor: pointer;
	transform: scale(1.05);
}

.cardContainer > div:last-child {
	margin-right: 0; /* Remove margin from the last card */
}

.cardContainer > div > h1 {
	margin: 0px;
}
.cardslider {
	margin: auto;
}
