.nav {
	display: flex;
	justify-content: space-between;
	padding: 15px 70px;
	margin-bottom: 21px;
}

.nav > ul {
	display: flex;
	justify-content: space-between;
	gap: 40px;
	list-style: none;
	font: icon;
}

.nav > ul li {
	transition: transform 0.3s ease-in-out;
}

.nav > ul li:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.zoom-in {
	transition: transform 0.3s ease-in-out;
}

/* Apply the zoom-in animation on hover */
.zoom-in:hover {
	transform: scale(1.1);
}
